{
  "name": "segpci-v2",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/views/contacto.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/contacto.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/views/estudios.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/estudios.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/views/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/views/servicios.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/servicios.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/views/proyectos.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/proyectos.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/views/nosotros.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/nosotros.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/scss/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/css/main.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "node_modules/anymatch",
      "src/scss",
      "src/css/edgrid",
      "src/css/edgrid/components",
      "src/scss/edgrid/css",
      "dist",
      "dist/bower_components/jquery-accordion",
      "dist/bower_components/jquery-accordion/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "node_modules/edgrid/ed-grid.scss",
      "imports": [
        "node_modules/edgrid/components/_functions.scss",
        "node_modules/edgrid/components/_base.scss",
        "node_modules/edgrid/components/_media-queries.scss",
        "node_modules/edgrid/components/_helpers.scss",
        "node_modules/edgrid/components/_dev.scss",
        "node_modules/edgrid/components/_core.scss",
        "node_modules/edgrid/components/_grid.scss",
        "node_modules/edgrid/components/_visibility.scss",
        "node_modules/edgrid/components/_video.scss",
        "node_modules/edgrid/components/_ed-menu.scss",
        "node_modules/edgrid/components/_flexbox.scss",
        "node_modules/edgrid/components/_offset.scss",
        "node_modules/edgrid/components/_buttons.scss",
        "node_modules/edgrid/components/_css-core.scss",
        "node_modules/edgrid/components/_css-helpers.scss"
      ]
    },
    {
      "path": "src/scss/main.scss",
      "imports": [
        "src/scss/edgrid/ed-grid.scss",
        "src/scss/variables.scss",
        "src/scss/base.scss",
        "src/scss/sections/_menu.scss",
        "src/scss/sections/_footer.scss",
        "src/scss/sections/_inicio.scss",
        "src/scss/sections/_proyectos.scss",
        "src/scss/sections/_nosotros.scss",
        "src/scss/sections/_estudios.scss",
        "src/scss/sections/_servicios.scss",
        "src/scss/sections/_contacto.scss",
        "src/scss/sections/_header.scss",
        "src/scss/edgrid/components/_functions.scss",
        "src/scss/edgrid/components/_base.scss",
        "src/scss/edgrid/components/_media-queries.scss",
        "src/scss/edgrid/components/_helpers.scss",
        "src/scss/edgrid/components/_dev.scss",
        "src/scss/edgrid/components/_core.scss",
        "src/scss/edgrid/components/_grid.scss",
        "src/scss/edgrid/components/_visibility.scss",
        "src/scss/edgrid/components/_video.scss",
        "src/scss/edgrid/components/_ed-menu.scss",
        "src/scss/edgrid/components/_flexbox.scss",
        "src/scss/edgrid/components/_offset.scss",
        "src/scss/edgrid/components/_buttons.scss",
        "src/scss/edgrid/components/_css-core.scss",
        "src/scss/edgrid/components/_css-helpers.scss"
      ]
    },
    {
      "path": "node_modules/edgrid/test/styles.scss",
      "imports": [
        "node_modules/edgrid/ed-grid.scss",
        "node_modules/edgrid/components/_functions.scss",
        "node_modules/edgrid/components/_base.scss",
        "node_modules/edgrid/components/_media-queries.scss",
        "node_modules/edgrid/components/_helpers.scss",
        "node_modules/edgrid/components/_dev.scss",
        "node_modules/edgrid/components/_core.scss",
        "node_modules/edgrid/components/_grid.scss",
        "node_modules/edgrid/components/_visibility.scss",
        "node_modules/edgrid/components/_video.scss",
        "node_modules/edgrid/components/_ed-menu.scss",
        "node_modules/edgrid/components/_flexbox.scss",
        "node_modules/edgrid/components/_offset.scss",
        "node_modules/edgrid/components/_buttons.scss",
        "node_modules/edgrid/components/_css-core.scss",
        "node_modules/edgrid/components/_css-helpers.scss"
      ]
    },
    {
      "path": "node_modules/pug/examples/extend.pug",
      "imports": [
        "node_modules/pug/examples/extend-layout.pug",
        "node_modules/pug/examples/pet.pug"
      ]
    },
    {
      "path": "node_modules/pug/examples/includes.pug",
      "imports": [
        "node_modules/pug/examples/includes/head.pug",
        "node_modules/pug/examples/includes/foot.pug",
        "node_modules/pug/examples/includes/scripts.pug",
        "node_modules/pug/examples/includes/style.css"
      ]
    },
    {
      "path": "node_modules/pug/examples/mixins.pug",
      "imports": [
        "node_modules/pug/examples/mixins/dialog.pug",
        "node_modules/pug/examples/mixins/profile.pug"
      ]
    },
    {
      "path": "node_modules/pug-load/test/foo.pug",
      "imports": [
        "node_modules/pug-load/test/bar.pug",
        "node_modules/pug-load/test/bing.pug",
        "node_modules/pug-load/test/script.js"
      ]
    },
    {
      "path": "src/scss/edgrid/ed-grid.scss",
      "imports": [
        "src/scss/edgrid/components/_functions.scss",
        "src/scss/edgrid/components/_base.scss",
        "src/scss/edgrid/components/_media-queries.scss",
        "src/scss/edgrid/components/_helpers.scss",
        "src/scss/edgrid/components/_dev.scss",
        "src/scss/edgrid/components/_core.scss",
        "src/scss/edgrid/components/_grid.scss",
        "src/scss/edgrid/components/_visibility.scss",
        "src/scss/edgrid/components/_video.scss",
        "src/scss/edgrid/components/_ed-menu.scss",
        "src/scss/edgrid/components/_flexbox.scss",
        "src/scss/edgrid/components/_offset.scss",
        "src/scss/edgrid/components/_buttons.scss",
        "src/scss/edgrid/components/_css-core.scss",
        "src/scss/edgrid/components/_css-helpers.scss"
      ]
    },
    {
      "path": "node_modules/gulp-stylus/test/fixtures/import.styl",
      "imports": [
        "node_modules/gulp-stylus/test/fixtures/one.styl",
        "node_modules/gulp-stylus/test/fixtures/includes/header.styl",
        "node_modules/gulp-stylus/test/fixtures/normal.styl"
      ]
    },
    {
      "path": "node_modules/gulp-stylus/test/fixtures/resolve.styl",
      "imports": [
        "node_modules/gulp-stylus/test/fixtures/includes/header.styl"
      ]
    },
    {
      "path": "node_modules/pug/examples/includes/head.pug",
      "imports": [
        "node_modules/pug/examples/includes/scripts.pug",
        "node_modules/pug/examples/includes/style.css"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/blocks-in-blocks.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/blocks-in-blocks-layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/filter-in-include.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/filter-in-include.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/include-extends-of-common-template.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/extends-empty-block-1.pug",
        "node_modules/pug/test/cases/auxiliary/extends-empty-block-2.pug",
        "node_modules/pug/test/cases/auxiliary/empty-block.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/include-extends-relative.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/extends-relative.pug",
        "node_modules/pug/test/cases/auxiliary/layout.pug",
        "node_modules/pug/test/cases/auxiliary/include-from-root.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/include-only-text.pug",
      "imports": [
        "node_modules/pug/test/cases/include-only-text-body.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/include-with-text.pug",
      "imports": [
        "node_modules/pug/test/cases/include-with-text-head.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/include.script.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/pet.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/include.yield.nested.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/yield-nested.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/includes-with-ext-js.pug",
      "imports": [
        "node_modules/pug/test/cases/javascript-new-lines.js"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/includes.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/mixins.pug",
        "node_modules/pug/test/cases/auxiliary/smile.html",
        "node_modules/pug/test/cases/auxiliary/escapes.html"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/inheritance.alert-dialog.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/dialog.pug",
        "node_modules/pug/test/cases/auxiliary/window.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/inheritance.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/layout.append.pug",
      "imports": [
        "node_modules/pug/test/fixtures/append/app-layout.pug",
        "node_modules/pug/test/fixtures/append/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/layout.append.without-block.pug",
      "imports": [
        "node_modules/pug/test/fixtures/append-without-block/app-layout.pug",
        "node_modules/pug/test/fixtures/append-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/layout.multi.append.prepend.block.pug",
      "imports": [
        "node_modules/pug/test/fixtures/multi-append-prepend-block/redefine.pug",
        "node_modules/pug/test/fixtures/multi-append-prepend-block/root.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/layout.prepend.pug",
      "imports": [
        "node_modules/pug/test/fixtures/prepend/app-layout.pug",
        "node_modules/pug/test/fixtures/prepend/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/layout.prepend.without-block.pug",
      "imports": [
        "node_modules/pug/test/fixtures/prepend-without-block/app-layout.pug",
        "node_modules/pug/test/fixtures/prepend-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/mixin-at-end-of-file.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/mixin-at-end-of-file.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/mixin-via-include.pug",
      "imports": [
        "node_modules/pug/test/fixtures/mixin-include.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/regression.1794.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/1794-extends.pug",
        "node_modules/pug/test/cases/auxiliary/1794-include.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/some.styl",
      "imports": [
        "node_modules/pug/test/cases/some-included.styl"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/yield-before-conditional.pug",
      "imports": [
        "node_modules/pug/test/cases/yield-before-conditional-head.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/yield-title.pug",
      "imports": [
        "node_modules/pug/test/cases/yield-title-head.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/yield.pug",
      "imports": [
        "node_modules/pug/test/cases/yield-head.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/dependencies/dependency2.pug",
      "imports": [
        "node_modules/pug/test/dependencies/dependency3.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/dependencies/extends1.pug",
      "imports": [
        "node_modules/pug/test/dependencies/dependency1.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/dependencies/extends2.pug",
      "imports": [
        "node_modules/pug/test/dependencies/dependency2.pug",
        "node_modules/pug/test/dependencies/dependency3.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/dependencies/include1.pug",
      "imports": [
        "node_modules/pug/test/dependencies/dependency1.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/dependencies/include2.pug",
      "imports": [
        "node_modules/pug/test/dependencies/dependency2.pug",
        "node_modules/pug/test/dependencies/dependency3.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/duplicate-block/index.pug",
      "imports": [
        "node_modules/pug/test/duplicate-block/layout-with-duplicate-block.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/compile.with.include.locals.error.pug",
      "imports": [
        "node_modules/pug/test/fixtures/include.locals.error.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/compile.with.include.syntax.error.pug",
      "imports": [
        "node_modules/pug/test/fixtures/include.syntax.error.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/compile.with.layout.locals.error.pug",
      "imports": [
        "node_modules/pug/test/fixtures/layout.locals.error.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/compile.with.layout.syntax.error.pug",
      "imports": [
        "node_modules/pug/test/fixtures/layout.syntax.error.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/compile.with.layout.with.include.locals.error.pug",
      "imports": [
        "node_modules/pug/test/fixtures/compile.with.include.locals.error.pug",
        "node_modules/pug/test/fixtures/include.locals.error.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/compile.with.layout.with.include.syntax.error.pug",
      "imports": [
        "node_modules/pug/test/fixtures/compile.with.include.syntax.error.pug",
        "node_modules/pug/test/fixtures/include.syntax.error.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/invalid-block-in-extends.pug",
      "imports": [
        "node_modules/pug/test/fixtures/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/runtime.layout.error.pug",
      "imports": [
        "node_modules/pug/test/fixtures/layout.with.runtime.error.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/runtime.with.mixin.error.pug",
      "imports": [
        "node_modules/pug/test/fixtures/mixin.error.pug"
      ]
    },
    {
      "path": "node_modules/pug-lexer/test/cases/include-only-text.pug",
      "imports": [
        "node_modules/pug-lexer/test/cases/include-only-text-body.pug"
      ]
    },
    {
      "path": "node_modules/pug-lexer/test/cases/include-with-text.pug",
      "imports": [
        "node_modules/pug-lexer/test/cases/include-with-text-head.pug"
      ]
    },
    {
      "path": "node_modules/pug-lexer/test/cases/includes-with-ext-js.pug",
      "imports": [
        "node_modules/pug-lexer/test/cases/javascript-new-lines.js"
      ]
    },
    {
      "path": "node_modules/pug-lexer/test/cases/yield-before-conditional.pug",
      "imports": [
        "node_modules/pug-lexer/test/cases/yield-before-conditional-head.pug"
      ]
    },
    {
      "path": "node_modules/pug-lexer/test/cases/yield-title.pug",
      "imports": [
        "node_modules/pug-lexer/test/cases/yield-title-head.pug"
      ]
    },
    {
      "path": "node_modules/pug-lexer/test/cases/yield.pug",
      "imports": [
        "node_modules/pug-lexer/test/cases/yield-head.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/include-extends-of-common-template.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/extends-empty-block-1.pug",
        "node_modules/pug-linker/test/cases-src/auxiliary/extends-empty-block-2.pug",
        "node_modules/pug-linker/test/cases-src/auxiliary/empty-block.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/include-extends-relative.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/extends-relative.pug",
        "node_modules/pug-linker/test/cases-src/auxiliary/layout.pug",
        "node_modules/pug-linker/test/cases-src/auxiliary/include-from-root.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/include-only-text.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/include-only-text-body.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/include-with-text.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/include-with-text-head.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/include.script.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/pet.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/include.yield.nested.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/yield-nested.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/includes-with-ext-js.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/javascript-new-lines.js"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/includes.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/mixins.pug",
        "node_modules/pug-linker/test/cases-src/auxiliary/smile.html",
        "node_modules/pug-linker/test/cases-src/auxiliary/escapes.html"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/layout.append.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/append/app-layout.pug",
        "node_modules/pug-linker/test/fixtures/append/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/layout.append.without-block.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/append-without-block/app-layout.pug",
        "node_modules/pug-linker/test/fixtures/append-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/layout.multi.append.prepend.block.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/multi-append-prepend-block/redefine.pug",
        "node_modules/pug-linker/test/fixtures/multi-append-prepend-block/root.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/layout.prepend.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/prepend/app-layout.pug",
        "node_modules/pug-linker/test/fixtures/prepend/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/layout.prepend.without-block.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/prepend-without-block/app-layout.pug",
        "node_modules/pug-linker/test/fixtures/prepend-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/some.styl",
      "imports": [
        "node_modules/pug-linker/test/cases-src/some-included.styl"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/errors-src/extends-not-first.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/errors-src/unexpected-block.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/empty.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/special-cases-src/extending-include.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/mixins.pug"
      ]
    },
    {
      "path": "src/scss/edgrid/test/styles.scss",
      "imports": [
        "src/scss/edgrid/ed-grid.scss",
        "src/scss/edgrid/components/_functions.scss",
        "src/scss/edgrid/components/_base.scss",
        "src/scss/edgrid/components/_media-queries.scss",
        "src/scss/edgrid/components/_helpers.scss",
        "src/scss/edgrid/components/_dev.scss",
        "src/scss/edgrid/components/_core.scss",
        "src/scss/edgrid/components/_grid.scss",
        "src/scss/edgrid/components/_visibility.scss",
        "src/scss/edgrid/components/_video.scss",
        "src/scss/edgrid/components/_ed-menu.scss",
        "src/scss/edgrid/components/_flexbox.scss",
        "src/scss/edgrid/components/_offset.scss",
        "src/scss/edgrid/components/_buttons.scss",
        "src/scss/edgrid/components/_css-core.scss",
        "src/scss/edgrid/components/_css-helpers.scss"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/depth-first/_common.scss",
      "imports": [
        "node_modules/node-sass/test/fixtures/depth-first/_vars.scss",
        "node_modules/node-sass/test/fixtures/depth-first/_struct.scss"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/depth-first/a.scss",
      "imports": [
        "node_modules/node-sass/test/fixtures/depth-first/_common.scss",
        "node_modules/node-sass/test/fixtures/depth-first/a1.scss",
        "node_modules/node-sass/test/fixtures/depth-first/_vars.scss",
        "node_modules/node-sass/test/fixtures/depth-first/_struct.scss"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/depth-first/b.scss",
      "imports": [
        "node_modules/node-sass/test/fixtures/depth-first/b1.scss"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/depth-first/index.scss",
      "imports": [
        "node_modules/node-sass/test/fixtures/depth-first/a.scss",
        "node_modules/node-sass/test/fixtures/depth-first/_common.scss",
        "node_modules/node-sass/test/fixtures/depth-first/b.scss",
        "node_modules/node-sass/test/fixtures/depth-first/a1.scss",
        "node_modules/node-sass/test/fixtures/depth-first/_vars.scss",
        "node_modules/node-sass/test/fixtures/depth-first/_struct.scss",
        "node_modules/node-sass/test/fixtures/depth-first/b1.scss"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/include-files/chained-imports-with-custom-importer.scss",
      "imports": [
        "node_modules/node-sass/test/fixtures/include-files/file-not-processed-by-loader.scss",
        "node_modules/node-sass/test/fixtures/include-files/file-processed-by-loader.scss"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/include-files/index.scss",
      "imports": [
        "node_modules/node-sass/test/fixtures/include-files/foo.scss",
        "node_modules/node-sass/test/fixtures/include-files/bar.scss"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/watching/index.sass",
      "imports": [
        "node_modules/node-sass/test/fixtures/watching/bar.sass"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/watching/index.scss",
      "imports": [
        "node_modules/node-sass/test/fixtures/watching/white.scss"
      ]
    },
    {
      "path": "node_modules/node-sass/test/fixtures/watching-dir-02/index.scss",
      "imports": [
        "node_modules/node-sass/test/fixtures/watching-dir-02/foo.scss"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/auxiliary/dialog.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/window.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/auxiliary/extends-empty-block-1.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/empty-block.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/auxiliary/extends-empty-block-2.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/empty-block.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/auxiliary/extends-relative.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/layout.pug",
        "node_modules/pug/test/cases/auxiliary/include-from-root.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/auxiliary/inheritance.extend.recursive-grandparent.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/inheritance.extend.recursive-grand-grandparent.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/auxiliary/inheritance.extend.recursive-parent.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/inheritance.extend.recursive-grandparent.pug",
        "node_modules/pug/test/cases/auxiliary/inheritance.extend.recursive-grand-grandparent.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/cases/auxiliary/layout.include.pug",
      "imports": [
        "node_modules/pug/test/cases/auxiliary/window.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/append/app-layout.pug",
      "imports": [
        "node_modules/pug/test/fixtures/append/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/append/page.pug",
      "imports": [
        "node_modules/pug/test/fixtures/append/app-layout.pug",
        "node_modules/pug/test/fixtures/append/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/append-without-block/app-layout.pug",
      "imports": [
        "node_modules/pug/test/fixtures/append-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/append-without-block/page.pug",
      "imports": [
        "node_modules/pug/test/fixtures/append-without-block/app-layout.pug",
        "node_modules/pug/test/fixtures/append-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/issue-1593/include.pug",
      "imports": [
        "node_modules/pug/test/fixtures/issue-1593/include-layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/issue-1593/index.pug",
      "imports": [
        "node_modules/pug/test/fixtures/issue-1593/layout.pug",
        "node_modules/pug/test/fixtures/issue-1593/include.pug",
        "node_modules/pug/test/fixtures/issue-1593/include-layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/multi-append-prepend-block/redefine.pug",
      "imports": [
        "node_modules/pug/test/fixtures/multi-append-prepend-block/root.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/prepend/app-layout.pug",
      "imports": [
        "node_modules/pug/test/fixtures/prepend/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/prepend/page.pug",
      "imports": [
        "node_modules/pug/test/fixtures/prepend/app-layout.pug",
        "node_modules/pug/test/fixtures/prepend/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/prepend-without-block/app-layout.pug",
      "imports": [
        "node_modules/pug/test/fixtures/prepend-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug/test/fixtures/prepend-without-block/page.pug",
      "imports": [
        "node_modules/pug/test/fixtures/prepend-without-block/app-layout.pug",
        "node_modules/pug/test/fixtures/prepend-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/auxiliary/dialog.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/window.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/auxiliary/extends-empty-block-1.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/empty-block.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/auxiliary/extends-empty-block-2.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/empty-block.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/auxiliary/extends-relative.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/layout.pug",
        "node_modules/pug-linker/test/cases-src/auxiliary/include-from-root.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/auxiliary/inheritance.extend.recursive-grandparent.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/inheritance.extend.recursive-grand-grandparent.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/auxiliary/inheritance.extend.recursive-parent.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/inheritance.extend.recursive-grandparent.pug",
        "node_modules/pug-linker/test/cases-src/auxiliary/inheritance.extend.recursive-grand-grandparent.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/cases-src/auxiliary/layout.include.pug",
      "imports": [
        "node_modules/pug-linker/test/cases-src/auxiliary/window.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/append/app-layout.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/append/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/append/page.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/append/app-layout.pug",
        "node_modules/pug-linker/test/fixtures/append/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/append-without-block/app-layout.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/append-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/append-without-block/page.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/append-without-block/app-layout.pug",
        "node_modules/pug-linker/test/fixtures/append-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/multi-append-prepend-block/redefine.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/multi-append-prepend-block/root.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/prepend/app-layout.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/prepend/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/prepend/page.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/prepend/app-layout.pug",
        "node_modules/pug-linker/test/fixtures/prepend/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/prepend-without-block/app-layout.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/prepend-without-block/layout.pug"
      ]
    },
    {
      "path": "node_modules/pug-linker/test/fixtures/prepend-without-block/page.pug",
      "imports": [
        "node_modules/pug-linker/test/fixtures/prepend-without-block/app-layout.pug",
        "node_modules/pug-linker/test/fixtures/prepend-without-block/layout.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "*."
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}