.estudios{
  min-height: 50vh;
  &-container{
    @include from(m){
      margin-left: 10%;
    }
    @include from(xl){
      margin-left: 15%;
    }
    margin-top: 3em;
    padding-bottom: 5em;
  }
  &-columna{
  	padding-top: 3em;
  }
  &-icon{
    font-size: 3em;
    @include toCenter('20%');
  }
  &-title{
    @include toCenter('100%');
    font-size: 1.8em;
    letter-spacing: 1px;
  }
  &-text{
    text-align: justify;
    @include from(l){
      width: 100%;
      padding: 2em;
      font-size: 1.2em;
      &:last-child{
        padding-top: 0;
      }
    }
    @include from(xl){
      padding: 4em;
    }
  }
  &-lista{
    width: 90%;
    margin-left: 1.8em;
    &-elemento{
      width: 49%;
      float: left;
      font-size: 1.1em;
    }
  }
}


// Tabs de Detalle (https://codepen.io/MightyShaban/pen/zLykK)
.tab {
	padding-top: 50px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 100%;
	margin: 0 auto;
	line-height: 1.5;
	font-weight: 300;
	color: #888;
	-webkit-font-smoothing: antialiased;
  min-height: 50vh;
  padding-bottom: 2em;
}

.tabs {
	display: table;
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;

	li {
		float: left;
		line-height: 38px;
		overflow: hidden;
		padding: 0;
		position: relative;
	}

	a {
		background-color: $gris2;
		border-bottom: 1px solid #fff;
		color: #fff;
		font-weight: 500;
		display: block;
		letter-spacing: 0;
		outline: none;
		padding: 0 20px;
		text-decoration: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		border-bottom: 2px solid $rojo;
	}
}

.tabs_item {
	display: none;
	padding: 30px 0;

	&:first-child {display: block;}
}

.current a {
	color: #fff;
	background: $rojo;
}
