.section-header{
  width:100%;
  // position:absolute;
  top:3.3em;
  &-image{
    height: 50vh;
    width: 100%;
  }
  &-title{
    background-color: $rojo;
    position: absolute;
    top:0;
    right: 0;
    margin-top: 3.4em;
    color: white;

     h3{
       font-size: 1.1em;
       padding-left: 2em;
       padding-right: 2em;

      @include to(l){
        margin:.5em;
        padding-left: 3em;
      }
     }
  }
}
.servicios{
  .section-header-image{
    background: url('../img/fondo-servicios.jpg');
    background-size: cover;
  }
}

.proyectos{
  .section-header-image{
    background: url('../img/fondo-proyectos.jpg');
    background-size: cover;
  }
}

.estudios{
  .section-header-image{
    background: url('../img/planos.jpg');
    background-size: cover;
  }
}

.contacto{
  .section-header-image{
    background: url('../img/5.jpg');
    background-size: cover;
  }
}

.inicio{
  .section-header-image{
    background: url('../img/fondo-contacto.jpg');
    background-size: cover;
    height: 50vh;
    background-position: bottom;
  }
}
