.section-header{
  width:100%;
  // position:absolute;
  box-shadow: 1px 1px 5px 1px grey;
  position: relative;
  &-image{
    height: 50vh;
    width: 100%;
  }
  &-title{
    background-color: rgba($rojo, 0.83);
    position: absolute;
    bottom:0;
    right: 0;
    color: white;

     h3{
       font-size: 2.5em;
       padding-left: 2em;
       padding-right: 2em;
       margin: .3em;

      @include to(l){
        margin:.5em;
        padding-left: 3em;
      }
     }
  }
}
.servicios{
  .section-header-image{
    background: url('../img/fondo-servicios.jpg');
    background-size: cover;
  }
}

.proyectos{
  .section-header-image{
    background: url('../img/fondo-proyectos.jpg');
    background-size: cover;
  }
}

.estudios{
  .section-header-image{
    background: url('../img/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.contacto{
  .section-header-image{
    background: url('../img/libreta_opt.jpg');
    background-size: cover;
    background-position: center;
    .capa{
      width: 100%;
      height: 100%;

    }
  }
}

.nosotros{
  .section-header-image{
    background: url('../img/regla_opt.jpg');
    background-size: cover;
  }
}

.inicio{
  .section-header-image{
    background: url('../img/fondo-contacto.jpg');
    background-size: cover;
    height: 50vh;
    background-position: bottom;
  }
}
