.section-header{
  width:100%;
  // position:absolute;
  top:3.3em;
  &-image{
    height: 50vh;
    width: 100%;
  }
  &-title{
    background-color: $rojo;
    width: 100%;
    margin-left: -3em;
    color: white;
    border: 1px solid $gris2;

    -webkit-transform: skew(-40deg);
     -moz-transform: skew(-40deg);
     -ms-transform: skew(-40deg);
     -o-transform: skew(-40deg);
     transform: skew(-40deg);

     @include from(m){
       width: 70%;
     }
     h3{
       font-size: 1.1em;
       padding: .2em;
       padding-left: 5em;
      -webkit-transform: skew(40deg);
      -moz-transform: skew(40deg);
      -ms-transform: skew(40deg);
      -o-transform: skew(40deg);
      transform: skew(40deg);

      @include to(l){
        margin:.5em;
        padding-left: 3em;
      }
     }
  }
}
.servicios{
  .section-header-image{
    background: url('../img/fondo-servicios.jpg');
    background-size: cover;
  }
}

.proyectos{
  .section-header-image{
    background: url('../img/fondo-proyectos.jpg');
    background-size: cover;
  }
}

.estudios{
  .section-header-image{
    background: url('../img/fondo-estudios.jpg');
    background-size: cover;
  }
}

.contacto{
  .section-header-image{
    background: url('../img/fondo-contacto.jpg');
    background-size: cover;
  }
}

.inicio{
  .section-header-image{
    background: url('../img/fondo-contacto.jpg');
    background-size: cover;
    height: 50vh;
  }
}
