.nosotros{
  &-container{
    &-text{
      padding-top: 5em;
      padding-bottom: 5em;
      p{
        width: 80%;
        @include from(l){
          width: 60%;
          text-align: justify;
          margin-left: 20%;
          font-size: 1.2em;
        }
      }
      strong{
        font-size: 1em;
      }
      .firma-nombre{
        strong{
          border-bottom: solid 1px black;  
        }
        text-align: center;
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 1.3em;
      }
      .firma-cargo{
        text-align: center;
        margin-top: 5px;
      }
      .firma-img{
        width: 15%;
        margin-left: 42.5%;
        margin-top: 3em;
      }
    }
  }
}
