doctype html5
html(lamg="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/MrSNkKkth5JgMvHAsXPwSY/icons.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")
		title Estudios de Propuestas
	body
		header.menu
			span.menu-logo SegPci
			i#toogle-menu.icon-bars
			nav.menu-nav.collapse
				ul
					li
						a(href='index.html') Inicio
					li
						a(href='nosotros.html') Nosotros
					li
						a(href='servicios.html') Servicios
					li
						a(href='proyectos.html') Proyectos
					li
						a(href='estudios.html').selected Estudios
					li
						a(href='contacto.html') Contacto

		.estudios
			.ed-container.section-header
				.section-header-image
				.section-header-title
					h3 Estudios de Propuestas

			.ed-container
				.ed-item.estudios-columna.s-100.m-35
					i.icon-pencil-square-o.estudios-icono
					p.estudios-parrafo
						| Desarrollamos Estudios de Propuestas, cubicamos cada elemento para | que Usted pueda valorizar su obra.
				.ed-item.estudios-columna.s-100.m-65
					.tab
						ul.tabs
							li
								a(href='#') 2010
							li
								a(href='#') 2011
							li
								a(href='#') 2012
							li
								a(href='#') 2013
							li
								a(href='#') 2014
							li
								a(href='#') 2015
							li
								a(href='#') 2016
							li
								a(href='#') 2017
						.tab_content
							.tabs_item
								ul.estudios-lista
									li.estudios-lista-elemento Edificio de las Artes, Torre 6 y 8
									li.estudios-lista-elemento Embotelladora Andina Renca
									li.estudios-lista-elemento Hotel CB Pto Montt
									li.estudios-lista-elemento Jumbo Easy Concha y Toro
									li.estudios-lista-elemento Clínica Alemana PET-CT
									li.estudios-lista-elemento Universidad Adolfo Ibañez VDM
									li.estudios-lista-elemento Centro de Distribución Desa
									li.estudios-lista-elemento Ed Magnus II
							.tabs_item
								ul.estudios-lista
									li.estudios-lista-elemento Ed. Los Militares
									li.estudios-lista-elemento Nextel Ed. Parque Andino
									li.estudios-lista-elemento Hotel Ibis Providencia
									li.estudios-lista-elemento Mall Calama
									li.estudios-lista-elemento Torre Alto Oriente
									li.estudios-lista-elemento Habilitación Portal Ñuñoa
									li.estudios-lista-elemento Casino Coyhaique
									li.estudios-lista-elemento Jumbo Coquimbo
									li.estudios-lista-elemento Jumbo San Antonio
									li.estudios-lista-elemento Ed. 247 Ciudad Empresarial
							.tabs_item
								ul.estudios-lista
									li.estudios-lista-elemento Ed. Beauchef Poniente
									li.estudios-lista-elemento Jumbo Market 3 Poniente Maipu
									li.estudios-lista-elemento Easy Portal Ochagavía
									li.estudios-lista-elemento Hotel Vitacura
									li.estudios-lista-elemento Ed. Rosario Norte
									li.estudios-lista-elemento Hospital de Talca
									li.estudios-lista-elemento Mall Espacio Urbano Viña
									li.estudios-lista-elemento Portal La Dehesa
									li.estudios-lista-elemento Mall Paseo Estación
									li.estudios-lista-elemento París Portal Ñuñoa
									li.estudios-lista-elemento Kimica
									li.estudios-lista-elemento Clorox E2
									li.estudios-lista-elemento Torre1 Costanera Center
									li.estudios-lista-elemento Ed. Komatsu Santiago
							.tabs_item
								ul.estudios-lista
									li.estudios-lista-elemento Finning Iquique
									li.estudios-lista-elemento Planta Aceite Olave
									li.estudios-lista-elemento Enrique Foster
									li.estudios-lista-elemento Centro Bodegaje Pudahuel (CBP1)
									li.estudios-lista-elemento Santiago College
									li.estudios-lista-elemento Ed. Versalles
									li.estudios-lista-elemento Hotel Plaza Araucano
									li.estudios-lista-elemento Centro Recreacional Parque Araucano
									li.estudios-lista-elemento Corp Group
									li.estudios-lista-elemento Clínica Los Andes
									li.estudios-lista-elemento Centro de Distribución Saitec Lo Aguirre
									li.estudios-lista-elemento Oficinas y Hotel Vitacura
									li.estudios-lista-elemento Ed. Territoria El Bosque
							.tabs_item
								ul.estudios-lista
									li.estudios-lista-elemento Clínica Las Condes
									li.estudios-lista-elemento Torre Santa María
									li.estudios-lista-elemento Edificio Manquehue O´Connell
									li.estudios-lista-elemento Edificio Visionario
									li.estudios-lista-elemento Centro de Distribución Carozzi Nos
									li.estudios-lista-elemento Edif. Scuola Italiana
									li.estudios-lista-elemento Centro de Bodegaje San Bernardo
									li.estudios-lista-elemento Ed. Corporativo Komatsu Cumming
									li.estudios-lista-elemento Gps Chile Habilitación Edificio de las Artes
									li.estudios-lista-elemento Hotel Vespucci
									li.estudios-lista-elemento Oficinas MDB Edificio Torres del Parque
									li.estudios-lista-elemento Oficinas Norconsult Edificio Apoquindo
									li.estudios-lista-elemento Watt´s Osorno – Proyecto Prosegur
									li.estudios-lista-elemento Watt´s Lonquén – Proyecto Prosegur
									li.estudios-lista-elemento Centro de Distribución ICB Montaje

							.tabs_item
								ul.estudios-lista
									li.estudios-lista-elemento Watt´s San Bernardo – Proyecto Prosegur
									li.estudios-lista-elemento Edificio Fiscalía Nacional
									li.estudios-lista-elemento Centro de Distribución y Oficinas Jhonson
									li.estudios-lista-elemento Oficinas CDEC-SING
									li.estudios-lista-elemento Oficinas Sartor
									li.estudios-lista-elemento Edificio Isidora 2000
									li.estudios-lista-elemento Edificio Hotel Hyatt SK Berge
									li.estudios-lista-elemento Edificio City Park
									li.estudios-lista-elemento Edificio Sura
									li.estudios-lista-elemento Hotel Punta Piqueros
									li.estudios-lista-elemento Edificio Pamplona Viña del Mar
									li.estudios-lista-elemento Parque Aconcagua
									li.estudios-lista-elemento Factoría Italia II
									li.estudios-lista-elemento Sala de Ventas de Lamborghini y Bentley
									li.estudios-lista-elemento Ampliación talleres UAI
									li.estudios-lista-elemento Mutual de Seguridad Los Andes
									li.estudios-lista-elemento Salmones Antártica
							.tabs_item
								ul.estudios-lista
									li.estudios-lista-elemento Hotel Punta Piqueros
									li.estudios-lista-elemento Surproceso
									li.estudios-lista-elemento Cafetería Cinnabon Aeropuerto Internacional
									li.estudios-lista-elemento Lider Express Nos San Bernardo
									li.estudios-lista-elemento Hotel Punta Piqueros
									li.estudios-lista-elemento Edificio Pamplona Viña del Mar
									li.estudios-lista-elemento Parque Aconcagua
									li.estudios-lista-elemento Factoría Italia II
									li.estudios-lista-elemento Sala de Ventas de Lamborghini y Bentley
									li.estudios-lista-elemento Ampliación talleres UAI
									li.estudios-lista-elemento Mutual de Seguridad Los Andes
									li.estudios-lista-elemento Salmones Antártica
									li.estudios-lista-elemento Centro BNEI Israel
									li.estudios-lista-elemento Patio Comidas Mall Arauco
									li.estudios-lista-elemento SBA Castro
							.tabs_item
								ul.estudios-lista
									li.estudios-lista-elemento Steep Center Calama
									li.estudios-lista-elemento Mall Outlet Arauco San Pedro de la Paz
									li.estudios-lista-elemento Registro Civil de Talca

		footer.footer
			.ed-container
				.ed-item.footer-logo.s-100.m-40
					span.logo SegPci
					span.text Integración y Montaje de equipos de Seguridad Electronica y Contra Incendio
				.ed-item.footer-contacto.s-100.m-40
					span.correo contacto@segpci.cl
					span.telefono +569 9 814 5749
					span.direccion El Carmen 1540 Torre 8, Of.101, Huechuraba
				.ed-item.footer-copy.s-100
					span.copy Desarrollado por
						a(href="http://www.bitealo.cl") bitealo.cl


		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="js/app.js")
		script(src="js/tabs.js")
