doctype html5
html(lamg="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/MrSNkKkth5JgMvHAsXPwSY/icons.css")
		link(rel="stylesheet", href="css/main.css")
		title
	body
		header.menu
			span.menu-logo SegPci
			i.icon-bars#toogle-menu
			nav.menu-nav.collapse
				ul
					li
						a(href="index.html").selected Inicio
					li
						a(href="proyectos.html") Proyectos
					li
						a(href="servicios.html") Servicios
					li
						a(href="estudios.html") Estudios
					li
						a(href="contacto.html") Contacto
					//- each item in ['Inicio', 'Proyectos', 'Servicios', 'Estudios', 'Contacto']
					//- 	li: a(href=item+'.html')= item
		.inicio
			.ed-container.section-header
				.section-header-image

			section.inicio-info.ed-container
				.ed-item.s-100.m-1-3.inicio-info-box#accordion
					h3.box-title Nosotros
						span.arrow.icon-angle-down
					div.box-container
						p.box-text
							| Somos una organización dedicada y especializada en el desarrollo de Ingenierías para Sistemas de
							| Seguridad Electrónica y Protección Contra Incendios.
						p.box-text
							| Promovemos el liderazgo en la prestación de nuestros servicios  para satisfacer las expectativas
							| de nuestros clientes mediante un compromiso constante con los estándares de calidad, productividad
							| y el mejoramiento continuo.

				.ed-item.s-100.m-1-3.inicio-info-box
					h3.box-title Objetivos
						span.arrow.icon-angle-down
					div.box-container
						p.box-text
							| Para SegPci es vital la protección de la vida, la inversión y
							| minimizar el  impacto para la continuidad de las operaciones del negocio después de un
							| siniestro. Con tal perspectiva ponemos énfasis en la eficiencia del estudio de proyectos,
							| proponiendo soluciones integrales y efectivas para cada objetivo.
						p.box-text
							|Ponemos a su disposición nuestra experiencia, garantizando excelencia
							| técnica y eficiencia para la entrega de nuestras instalaciones.

				.ed-item.s-100.m-1-3.inicio-info-box
					h3.box-title Normas Aplicables
						span.arrow.icon-angle-down
					div.box-container
						img.box-img(src="img/nfpa.png")

		footer.footer
			.ed-container
				.ed-item.footer-logo.s-100.m-40
					span.logo SegPci
					span.text Integración y Montaje de equipos de Seguridad Electronica y Contra Incendio
				.ed-item.footer-contacto.s-100.m-40
					span.correo contacto@segpci.cl
					span.telefono +569 9 814 5749
					span.direccion El Carmen 1540 Torre 8, Of.101, Huechuraba
				.ed-item.footer-copy.s-100
					span.copy Desarrollado por
						a(href="http://www.bitealo.cl") bitealo.cl


		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="js/jquery.simpleAccordion.js")
		script(src="js/app.js")
