doctype html5
html(lamg="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/MrSNkKkth5JgMvHAsXPwSY/icons.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")
		title Servicios
	body
		header.menu
			span.menu-logo SegPci
			i#toogle-menu.icon-bars
			nav.menu-nav.collapse
				ul
					li
						a(href='index.html') Inicio
					li
						a(href='nosotros.html').selected Nosotros
					li
						a(href='servicios.html') Servicios
					li
						a(href='proyectos.html') Proyectos
					li
						a(href='estudios.html') Estudios
					li
						a(href='contacto.html') Contacto

		.nosotros
			.ed-container.section-header
				.section-header-image
				.section-header-title
					h3 Nuestra Empresa


			.ed-container.nosotros-container
				.ed-item.nosotros-container-text
					p
						| Nos es muy grato  presentarnos y darnos a conocer con Ustedes. Bienvenidos a nuestra plataforma virtual.
					p
						| Somos Rodrigo Azalgado y Raúl García, socios y fundadores de R.A&G, empresa dedicada al servicio de Integración y Montaje de equipos para proyectos de Seguridad Electrónica y Protección Contra Incendios.
					p
						| Contamos con 20 años de experiencia tanto en ingeniería como en montaje de sistemas. Experiencia que nos ha llevado a encontrar y hacernos acompañar por maño de obra de excelencia con sólidos conocimientos en sus especialidades.
					p
						| Promovemos el liderazgo en la prestación de nuestros servicios  para satisfacer las expectativas de nuestros clientes mediante un compromiso constante con los estándares de calidad, productividad y el mejoramiento continuo.
					p
						| Fomentamos un modelo de responsabilidad social y ambiental enfocados en la auto disciplina, protegiendo en todo momento la integridad de nuestros colaboradores como así también el medio ambiente.
					p
						| Mantenemos el aprendizaje y desarrollo de los integrantes y cumplimos con los requisitos legales junto a las normativas vigentes.
					p
						| Garantizamos el control de riesgo de humano y de sus instalaciones por medio de la implementación de nuestros servicios.


		footer.footer
			.ed-container
				.ed-item.footer-logo.s-100.m-40
					span.logo SegPci
					span.text Integración y Montaje de equipos de Seguridad Electronica y Contra Incendio
				.ed-item.footer-contacto.s-100.m-40
					span.correo contacto@segpci.cl
					span.telefono +569 9 814 5749
					span.direccion El Carmen 1540 Torre 8, Of.101, Huechuraba
			.ed-item.footer-copy.s-100
				span.copy Desarrollado por
					a(href="http://www.bitealo.cl") bitealo.cl


		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="https://use.typekit.net/vzf4zus.js")
		script try{Typekit.load({ async: true });}catch(e){}
		script(src="js/app.js")
