doctype html5
html(lamg="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/MrSNkKkth5JgMvHAsXPwSY/icons.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")
		title Nosotros
	body
		header.menu
			span.menu-logo SegPci
			i#toogle-menu.icon-bars
			nav.menu-nav.collapse
				ul
					li
						a(href='index.html') Inicio
					li
						a(href='nosotros.html').selected Nosotros
					li
						a(href='servicios.html') Servicios
					li
						a(href='proyectos.html') Proyectos
					li
						a(href='estudios.html') Estudios
					li
						a(href='contacto.html') Contacto

		.nosotros
			.ed-container.section-header
				.section-header-image
				.section-header-title
					h3 Nuestra Empresa


			.ed-container.nosotros-container
				.ed-item.nosotros-container-text
					p
						| Nos es muy grato  presentarnos y darnos a conocer con Ustedes. Bienvenidos a nuestra plataforma virtual.
					p
						| Somos 
						strong SegPci 
						| Seguridad y Protección Contra Incendios, empresa dedicada al servicio de Diseño de Ingenierías para proyectos de 
						strong Seguridad y Protección Contra Incendios. 
					p
						| Contamos con un equipo de colaboradores con  experiencia en el desarrollo de ingenierías. Esta experiencia nos llama a promover el liderazgo en la prestación de nuestros servicios  para satisfacer las expectativas de nuestros clientes mediante un compromiso constante con los estándares de calidad, productividad y el mejoramiento continuo.
					p
						| Mantenemos el aprendizaje y desarrollo de los integrantes y cumplimos con los requisitos legales junto a las normativas vigentes.
					p
						strong Garantizamos el control de riesgo humano y de sus instalaciones por medio de la implementación de nuestros servicios. 
					p
						| Agradecemos su visita. Contáctenos.
					img.firma-img(src="http://altonivel.impresionesaerea.netdna-cdn.com/assets/images/Estructura_2015/Estilo_de_vida/Imagen/firma-semilegible.jpg")
					p.firma-nombre
						strong Rodrigo Azalgado Almarza
					p.firma-cargo
						| Director de Proyectos


		footer.footer
			.ed-container
				.ed-item.footer-logo.s-100.m-40
					span.logo SegPci
					span.text Integración y Montaje de equipos de Seguridad Electronica y Contra Incendio
				.ed-item.footer-contacto.s-100.m-40
					span.correo contacto@segpci.cl
					span.telefono +569 9 814 5749
					span.direccion El Carmen 1540 Torre 8, Of.101, Huechuraba
			.ed-item.footer-copy.s-100
				span.copy Desarrollado por
					a(href="http://www.bitealo.cl") bitealo.cl


		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="https://use.typekit.net/vzf4zus.js")
		script try{Typekit.load({ async: true });}catch(e){}
		script(src="js/app.js")
