doctype html5
html(lamg="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/MrSNkKkth5JgMvHAsXPwSY/icons.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")
		title Proyectos
	body
		header.menu
			span.menu-logo SegPci
			i#toogle-menu.icon-bars
			nav.menu-nav.collapse
				ul
					li
						a(href='index.html') Inicio
					li
						a(href='nosotros.html') Nosotros
					li
						a(href='servicios.html') Servicios
					li
						a(href='proyectos.html').selected Proyectos
					li
						a(href='estudios.html') Estudios
					li
						a(href='contacto.html') Contacto

		.proyectos
			.ed-container.section-header
				.section-header-image
				.section-header-title
					h3 Nuestros Proyectos


			.ed-container.servicios-container
				.ed-item.s-100.m-50.servicios-container-services
					i.icon-settings.services-icon
					h2.services-title Nuestros¨Proyectos
					p.services-text
						| adc
					

		footer.footer
			.ed-container
				.ed-item.footer-logo.s-100.m-40
					span.logo SegPci
					span.text Integración y Montaje de equipos de Seguridad Electronica y Contra Incendio
				.ed-item.footer-contacto.s-100.m-40
					span.correo contacto@segpci.cl
					span.telefono +569 9 814 5749
					span.direccion El Carmen 1540 Torre 8, Of.101, Huechuraba
				.ed-item.footer-copy.s-100
					span.copy Desarrollado por
						a(href="http://www.bitealo.cl") bitealo.cl


		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="js/app.js")
