doctype html5
html(lamg="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/MrSNkKkth5JgMvHAsXPwSY/icons.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")
		link(rel="stylesheet" type="text/css" href="bower_components/jquery-accordion/css/demo.css")
		link(rel="stylesheet" type="text/css" href="bower_components/jquery-accordion/css/jquery.accordion.css")
		title Proyectos
	body
		header.menu
			span.menu-logo SegPci
			i#toogle-menu.icon-bars
			nav.menu-nav.collapse
				ul
					li
						a(href='index.html') Inicio
					li
						a(href='nosotros.html') Nosotros
					li
						a(href='servicios.html') Servicios
					li
						a(href='proyectos.html').selected Proyectos
					li
						a(href='estudios.html') Estudios
					li
						a(href='contacto.html') Contacto

		.proyectos
			.ed-container.section-header
				.section-header-image
				.section-header-title
					h3 Nuestros Proyectos

			.ed-container.proyectos-container.m-80.xl-60
				.ed-item.s-100.m-50.proyectos-container-columna
					i.icon-settings.proyects-icon
					h2.proyects-title Desarrollo de Proyectos
					p.proyects-text
						| A lo largo de nuestros años de trabajo hemos desarrollado proyectos para importantes compañías tanto de nuestro país como en el extranjero, aumentando nuestra experiencia para desarrollar proyectos de pequeña, mediana y gran envergadura.
					p.proyects-text
						| Nuestros diseños están desarrollados bajo normativas nacionales como internacionales.

				.ed-item.s-100.m-50.proyectos-container-columna
					i.icon-street-view.proyects-icon
					h2.proyects-title Nuestros Proyectos
					section#only-one(data-accordion-group='')

						article(data-accordion='')
							button(data-control='') Ingenieria Conceptual y Basica
							div(data-content='')
								article(data-accordion='')
									button(data-control='') Edificio Isidora Magdalena
									div(data-content='')
										ul
											li Diseño de Ingeniería.
											li Sistema de Detección de Incendios.
											li Sistema de Rociadores Automáticos.
											li Especificaciones Técnicas.
											li Cálculos Hidráulicos.
											li Red Húmeda.
											li Extintores Manuales.
								article(data-accordion='')
									button(data-control='') Edificio Hotel Vespucci
									div(data-content='')
										ul
											li Diseño de Ingeniería.
											li Sistema de Detección de Incendios.
											li Audio Evacuación - Alarmas.
											li Sistema de Rociadores Automáticos.
											li Red Húmeda.
											li Extintores Manuales.
											li Especificaciones Técnicas.
											li Cálculos Hidráulicos.
											li Sistema de Video Vigilancia.
											li Control de Acceso.
								article(data-accordion='')
									button(data-control='') Polideportivo de Punta Arenas
									div(data-content='')
										ul
											li Diseño de Ingeniería.
											li Sistema de Detección de Incendios.
											li Sistema de Rociadores Automáticos.
											li Especificaciones Técnicas.
											li Cálculos Hidráulicos.
											li Red Húmeda.
											li Extintores Manuales.
								article(data-accordion='')
									button(data-control='') Mina Santa Martha Argentina
									div(data-content='')
										ul
											li Diseño de Ingeniería.
											li Sistema de Detección de Incendios.
											li Sistema de Rociadores Automáticos.
											li Especificaciones Técnicas.
											li Cálculos Hidráulicos.
											li Red Húmeda.
											li Extintores Manuales.
								article(data-accordion='')
									button(data-control='') Oficinas GPS Chile
									div(data-content='')
										ul
											li Diseño de Ingeniería.
											li Sistema de Detección de Incendios.
											li Audio Evacuación - Alarmas.
											li Sistema de Rociadores Automáticos.
											li Red Húmeda.
											li Extintores Manuales.
											li Sistema de Video Vigilancia.
											li Control de Acceso.
								article(data-accordion='')
									button(data-control='') Proyecto Teleférico Bicentenario
									div(data-content='')
										ul
											li Diseño de Ingeniería
											li Sistema de Detección de Incendios
											li Audio Evacuación - Alarmas
											li Sistema de Rociadores Automáticos
											li Red Húmeda
											li Extintores Manuales
											li Sistema de Video Vigilancia
								article(data-accordion='')
									button(data-control='') Casino y Hotel Enjoy Viña del Mar
									div(data-content='')
										ul
											li Diseño de Ingeniería
											li Sistema de Detección de Incendios
											li Audio Evacuación - Alarmas
											li Sistema de Rociadores Automáticos
											li Red Húmeda
											li Extintores Manuales
											li Sistema de Video Vigilancia
											li Control de Acceso
								article(data-accordion='')
									button(data-control='') Hotel Atton Viña del Mar
									div(data-content='')
										ul
											li Diseño de Ingeniería
											li Sistema de Detección de Incendios
											li Audio Evacuación - Alarmas
											li Sistema de Rociadores Automáticos
											li Red Húmeda
											li Extintores Manuales
								article(data-accordion='')
									button(data-control='') Edificio Torres del Parque - Habilitación de Oficinas
									div(data-content='')
										ul
											li Diseño de Ingeniería.
											li Sistema de Detección de Incendios
											li Audio Evacuación - Alarmas
											li Sistema de Rociadores Automáticos
											li Especificaciones Técnicas.
											li Cálculos Hidráulicos.
											li Red Húmeda
											li Extintores Manuales
											li Sistema de Video Vigilancia
											li Control de Acceso

						article(data-accordion='')
							button(data-control='') Ingenieria de Detalle
							div(data-content='')
								article(data-accordion='')
									button(data-control='') Watt´s Osorno
									div(data-content='')
										ul
											li Especificaciones Técnicas.
											li Desarrollo de ingenierías para planta de procesos y oficinas.
											li Cálculos Hidráulicos.
											li Visitas de Inspección.
								article(data-accordion='')
									button(data-control='') Watt´s Lonquén
									div(data-content='')
										ul
											li Especificaciones Técnicas.
											li Desarrollo de ingenierías para planta de procesos y oficinas.
											li Cálculos Hidráulicos.
											li Visitas de Inspección.
								article(data-accordion='')
									button(data-control='') Watt´s San Bernardo
									div(data-content='')
										ul
											li Especificaciones Técnicas.
											li Desarrollo de ingenierías para planta de procesos y oficinas.
											li Cálculos Hidráulicos.
											li Visitas de Inspección.
								article(data-accordion='')
									button(data-control='') Ingeniería de Detalle Mina Las Bambas Perú
									div(data-content='')
										p Sistema de Protección Contra Incendios Área 0370
										ul
											li Área Celdas Columna
											li Área Flotación Selectiva
											li Edificio Filtrado y Secado
											li Sala Eléctrica 0370-ERR-0001
										p Sistema de Protección Contra Incendios Área 0392
										ul
											li Área de Reactivos
											li Área Floculante para Relaves
											li Área Floculante para Concentrados
										p Sistema de Protección Contra Incendios Área 0420
										ul
											li Planta de Filtrados
										p Sistema de Protección Contra Incendios Área 0820
										ul
											li Bodega General de Abastecimiento
								article(data-accordion='')
									button(data-control='') Ingeniería de Detalles Proy. El Tesoro – Mina Centinela
									div(data-content='')
										p Sistema de Protección Contra Incendios Área Chancado
										ul
											li Edificio Chancado Primario
											li Edificio Chancado Secundario
											li Edificio Chancado Terciario
											li Edificio Harneros
											li Edificio Tolva de Almacenamiento
											li Planta de Extracción por Solventes
								article(data-accordion='')
									button(data-control='') Taller de Camiones Mina Antamina Perú
									div(data-content='')
										ul
											li Diseño de Ingeniería de Detalle Sistema de Protección Contra Incendios.
											li Sistema de Extinción de Incendios por Diluvio para Bahía de Camiones.


		footer.footer
			.ed-container
				.ed-item.footer-logo.s-100.m-40
					span.logo SegPci
					span.text Integración y Montaje de equipos de Seguridad Electronica y Contra Incendio
				.ed-item.footer-contacto.s-100.m-40
					span.correo contacto@segpci.cl
					span.telefono +569 9 814 5749
					span.direccion El Carmen 1540 Torre 8, Of.101, Huechuraba
				.ed-item.footer-copy.s-100
					span.copy Desarrollado por
						a(href="http://www.bitealo.cl") bitealo.cl


		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="js/app.js")
		script(type='text/javascript', src='bower_components/jquery-accordion/js/jquery.accordion.js')
		script(type='text/javascript').
			$(document).ready(function() {
			$('#only-one [data-accordion]').accordion();
			$('#multiple [data-accordion]').accordion({
			singleOpen: false
			});
			$('#single[data-accordion]').accordion({
			transitionEasing: 'cubic-bezier(0.455, 0.030, 0.515, 0.955)',
			transitionSpeed: 200
			});
			});
